@import "~styles/fonts";

.App {

  min-height: 100vh;
  min-width: 100vw;

  background-color: #F8F8F8;

  padding-bottom: 128px;

  text-align: center;
}

.showcase {
  @include main-font;
  
  background-color: #F8F8F8;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}