@import "~styles/styles";
@import "~styles/fonts";

.dashboard {

  min-height: 100%;
  max-width: 1156px;
  margin: 0 auto;

  padding-top: 64px;
}

.header {
  display: grid;

  grid-template-columns: 25% 75%;
}
.menu {

  display: flex;

  gap: 8px;
  justify-content: end;
  align-items: end;

  .button {

    @include main-font;

    height: fit-content;

    background: transparent;
    border: none;

    text-transform: uppercase;
    font-size: 24px;

    cursor: pointer;

    padding: 0;
  }
}

.content {
  margin-top: 32px;
  width: 100%;
}

.zipp-cards-list {

  display: grid;

  margin-top: 32px;

  width: 100%;

  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-row-gap: 32px;
}